@model TeduShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="bikes">
<h2> LATEST BIKES</h2>
<div class="bikes-grids">
    <ul id="flexiselDemo2">
        @foreach (var product in Model.LastestProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <li>
                <img src="@product.Image">
                <div class="bike-info">
                    <div class="model">
                        @*@if (product.PromotionPrice.HasValue)
                        {<h4>@product.Name<span class="lineThrough">@product.PromotionPrice.Value.ToString("N0") $</span></h4>}*@

                        <h4>@product.Name<span>@product.Price.ToString("N0") $</span></h4>
                    </div>
                    <div class="model-info">
                        <select>
                            <option value="volvo">OPTION</option>
                            <option value="saab">Option</option>
                            <option value="opel">Option</option>
                            <option value="audi">Option</option>
                        </select>
                        <a href="@url">BUY</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="viw  grow-rotate">
                    <a href="bicycles.html">Quick View</a>
                </div>
            </li>
        }
        </ul>
    </div>

<h2><p align="center">TOP BIKES</p></h2>
<div class="bikes-grids">
    <ul id="flexiselDemo1">
        @foreach (var product in Model.TopSaleProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <li>
                <img src="@product.Image">
                <div class="bike-info">
                    <div class="model">
                        @*@if (product.PromotionPrice.HasValue)
                        {<h4>@product.Name<span class="lineThrough">@product.PromotionPrice.Value.ToString("N0") $</span></h4>}*@

                        <h4>@product.Name<span>@product.Price.ToString("N0") $</span></h4>
                    </div>
                    <div class="model-info">
                        <select>
                            <option value="volvo">OPTION</option>
                            <option value="saab">Option</option>
                            <option value="opel">Option</option>
                            <option value="audi">Option</option>
                        </select>
                        <a href="@url">BUY</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="viw">
                    <a href="bicycles.html">Quick View</a>
                </div>
            </li>
        }
    </ul>
</div>
 </div>