@model TeduShop.Web.Models.RegisterViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/ProductLayouts.cshtml";
}

<link href="~/Assets/client/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<div class="top-content">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(false, "", new { @class = "error" })
        if (ViewData["SuccessMsg"] != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Chúc mừng bạn! </strong> đã đăng ký thành công.
                <br />Vui lòng click <a href="/dang-nhap.html/">vào đây </a>để đăng nhập.
            </div>
        }
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Sign up now</h3>
                                    <p>Fill in the form below to get instant access:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="registration-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-first-name">Full Name</label>
                                        @*<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">*@
                                        @Html.TextBoxFor(model => model.FullName, new { placeholder = "FullName...", @class = "form-first-name form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-last-name">Phone Number</label>
                                        @*<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">*@
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number", @class = "form-last-name form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-email">Email</label>
                                        @*<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">*@
                                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email...", @class = "form-email form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        @*<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">*@
                                        @Html.TextBoxFor(model => model.UserName, new { placeholder = "Username...", @class = "form-username form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        @*<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">*@
                                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password...", @class = "form-password form-control" })
                                    </div>
                                    @{
                                    MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha");
                                    }
                                    @Html.Captcha(registerCaptcha)
                                    @Html.TextBox("CaptchaCode")

                                    <button type="submit" class="btn">Sign me up!</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
</div>
