@model TeduShop.Web.Models.StoreViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StoreLayouts.cshtml";
}
<div class="bike-parts">
    <div class="bike-apparels">
        <div class="parts1">
        @foreach (var product in Model.LastestProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <a href="single.html">
                <div class="part-sec">
                    <div><img src="@product.Image" alt="@product.Name" /></div>
                    <div class="bike-cost">
                        <h5>@product.Price.ToString("N0") $</h5>
                        <h5><span>Model :<Strong> @product.Name</Strong></span></h5>
                        <div class="bike-cart">
                            <a class="add-cart" href="@url">Quick View</a>
                            <a class="buy" href="@url">BUY NOW</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        }
        <div class="clearfix"></div>
    </div>
</div>
</div>
